.Section {
    position: relative;
}

.slider-section {
  position: relative;
  width: 100vw;
  height: 100vh;
}

.loader.loader--style1 {
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -3vh;
    margin-top: -3vh;
}

.loader.loader--style1 svg {
    width: 6vh;
    height: 6vh;
}

.board-name, .company-logo {
    position: fixed;
    bottom: 2vh;
    right: 5vh;
    font-size: 3vh;
    color: #fff;
    font-weight: 600;
    opacity: 0.5;
}

.company-logo {
  right: auto;
  left: 5vh;
}

.company-logo svg {
    width: 22vh;
}
