.Section {
    position: relative;
}

.loader.loader--style1 {
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -3vh;
    margin-top: -3vh;
}

.loader.loader--style1 svg {
    width: 6vh;
    height: 6vh;
}

.board-name {
    position: absolute;
    bottom: 2vh;
    right: 5vh;
    font-size: 4vh;
    color: #fff;
    font-weight: 600;
    opacity: 0.5;
}
