.block-wrapper-component {
  font-size: 0;
  text-align: center;
  display: inline-block;
  vertical-align: top;
}

.block-wrapper-1 {
    width: 32vh;
}
.block-wrapper-2 {
    width: 64vh;
}
.block-wrapper-3 {
    width: 96vh;
}
