.block-wrapper-component {
  font-size: 0;
  text-align: center;
  display: inline-block;
  vertical-align: top;
}

.block-wrapper-1 {
    width: calc(33.3vh - 2vh);
}
.block-wrapper-2 {
    width: calc(66.6vh - 2vh);
}
.block-wrapper-3 {
    width: calc(99.9vh - 2vh);
}
