.block-component {
    display: inline-block;
    position: relative;
    vertical-align: top;
}

.block-square, .block-long-vertical, .block-long-horizontal, .block-full-vertical {
    height: auto;
}

.block-wrapper-1 .block-square {
    width: 100%;
    padding-bottom: 100%;
}

.block-wrapper-1 .block-long-vertical {
    width: 100%;
    padding-bottom: 200%;
}

.block-wrapper-2 .block-full-vertical {
    width: 100%;
    padding-bottom: 150%;
}

.block-wrapper-2 .block-square {
    width: 50%;
    padding-bottom: 50%;
}

.block-wrapper-2 .block-long-vertical {
    width: 50%;
    padding-bottom: 100%;
}

.block-wrapper-2 .block-long-horizontal {
    width: 100%;
    padding-bottom: 50%;
}

.block-wrapper-2 .block-full-square {
    width: 100%;
    padding-bottom: 100%;
}

.block-wrapper-3 .block-full-horizontal {
    width: 100%;
    padding-bottom: 66.6%;
}

.block-wrapper-3 .block-square {
    width: 33.3%;
    padding-bottom: 33.3%;
}

.block-component-title {
    font-size: 2.6vh;
    font-weight: 300;
}

.block-component-content {
    margin-top: 2vh;
}

.block-component-inner {
    background: #282c34;
    color: #ffffff;
    position: absolute;
    left: 0.6vh;
    right: 0.6vh;
    top: 0.6vh;
    bottom: 0.6vh;
    font-size: 2.1vh;
    padding: 2vh;
    text-align: left;
    border-radius: 0.4vh;
}
